# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
booklist-aspnet-core/src/Yoyosoft.BookList.Web.Host/App_Data/Logs/
booklist-aspnet-core/src/Yoyosoft.BookList.Web.Mvc/App_Data/Logs/
booklist-aspnet-core/src/Yoyosoft.BookList.Migrator/Logs/Logs.txt
