<div class="container">
  <div class="top">
    <div class="head">
      <a [routerLink]="['/']">
        <!-- <img class="logo" src="/assets/images/logos/logo-color-shield.svg"> -->
        <img class="logo" src="https://aspnetboilerplate.com//images/logos/abp-logo-long.png">


        <!-- <span class="title">52ABP</span> -->
      </a>
    </div>
    <p class="desc">更多开源模板；
      <a href="http://www.52abp.com/" target="_blank">点击这里</a>了解更多的框架信息
    </p>

    <div *ngIf="showTenantChange()">
      <tenant-change></tenant-change>
    </div>

    <!-- <div>
      <img class="logo" src="/assets/images/52abp_logo.svg">
      <img class="logo" src="/assets/images/52abp_txt.svg">
    </div> -->
  </div>

  <router-outlet></router-outlet>

  <br>
  <account-languages></account-languages>

  <global-footer [links]="links">
    Copyright
    <i class="anticon anticon-copyright"></i> {{currentYear}}
    <b>Version </b>{{versionText}}
    <a href="https://github.com/xml1234" target="_blank">xml1234</a>出品
  </global-footer>

</div>
